* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(#6e95eb, #5a5cf1);
    min-height: 877px;
    font-family: Arial, Helvetica, sans-serif;
}

.feh {
    display: grid;
    grid-template-columns: 450px 450px;
    justify-content: center;
    gap: 50px;
    margin-top: 60px;
    
}

.formacao {
    background: linear-gradient(#ffb88c, #ff9124);
    color: #000000;
    width: 400px;
    height: 800px;
    padding: 30px 10px 10px 10px;
    text-align: center;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.507);
}

.habilidades {
    background: linear-gradient(#ffb88c, #ff9124);
    color: #000000;
    width: 400px;
    height: 800px;
    padding: 30px 10px 10px 10px;
    text-align: center;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.507);
}

.principal {
    background-color: rgb(86, 55, 197);
    color: white;
    width: 380px;
    height: 50px;
    padding: 10px 10px 50px 10px;
    border-radius:15px;
    font-size: 37px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.507);
    
}

p {
    font-size: 20px;
}

li {
    list-style: none;
    font-size: 20px;
}
